
.cart-item{
                width: 300px;
                height: auto;

               
}


.cart-item-content {
  font-size: 14px;
  color: #60ea05;
  margin-bottom: 5px;

  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis; 
}
.cartimg{

                width: 100%;
                height: 300px;
                
                
}      
