
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1e293b; 
  padding: 0.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-icon img {
  width: 40px;
  height: 40px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.nav-menu li {
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-menu li:hover {
  color: #38bdf8; 
}

.fas {
  display: none; 
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
.fa-caret-down{
  display: block;
}

@media (max-width: 768px) {
  .fas {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    right: -100%;
    flex-direction: column;
    background: #1e293b;
    width: 100%;
    padding: 1rem;
    height: 100%;
  
  }

  .nav-menu.active {
    width: 100%;
    height: 100%;
    background: #035ff4;
    right: 0;
  }
  .fa-caret-down{
    display: block;
    
  }
}
