
.pagination {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  margin-bottom: 20px;
  margin-top: 30PX;
}

.cart-link {
  text-decoration: none; 
  width: 230px;

}

/* .btn {
  
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 3px;
  transition: background-color 0.2s, transform 0.2s;

}
.btns{
             
               
} */

.btn:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
}

.cart-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.cart-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.cart-item-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
}

.cart-item-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-item-readingtime,
.cart-item-author,
.cart-item-date {
  font-size: 12px;
  color: #666;
  margin-bottom: 3px;
}

.cart-item-content {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;

  white-space: nowrap;     
  overflow: hidden;         
  text-overflow: ellipsis; 
}

/* Responsive */
@media (max-width: 1024px) {
  .pagination {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .pagination {
    grid-template-columns: 1fr;
  }
}